.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagination-button{
  padding: 21px;
  width: 10px;
  height: 10px;
  background-color: rgb(234, 234, 234);
  border: none;
  border-radius: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.pagination-button:active {
  color: white;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) !important;
}

.pagination-button:hover {
  background-color: rgb(119, 118, 118);
  color: rgb(67, 67, 67);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 15px;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}